

.header-container {
    z-index: 200;
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: start;
    justify-content: center;
    /* background-color: #bc96ffa1; */
    /* padding: 5px 10px; */
}

.header-container .header-content {
    width: 98%;
    height: 60px;
    /* background: linear-gradient(#ea92fc5c, #ffffff00); */
    background-color: #b188bc93;
    /* box-shadow: 0 0 30px rgba(151, 120, 195, 0.183); */
    backdrop-filter: blur(5px);
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 0 18px 0 5px;
    justify-content: space-between;
    color: rgb(52, 0, 98);
    border-radius: 30px;
    transition: .5s;

}

.header-container .header-content .ul-1 a {
    text-decoration: none;
    color: rgb(52, 0, 98);
}


.header-container .header-content.active {
    box-shadow: 0 0 30px black;
    background-color: #62486993;
    backdrop-filter: blur(20px);
    height: calc(100vh - 11px);
    align-items: start;
}

.header-container .header-content .link {
    width: 70px;
    height: 70px;
    display: flex;
    height: min-content;
    position: relative;
    top: 1px;
    transition: .3s ease;
    
}

.header-container .header-content .link.active {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    transition: .5s ease;
}

.header-container .img {
    width: 100%;
    filter: drop-shadow(0 0 10px rgba(25, 0, 44, 0.404));
    object-fit: contain;
    transition: .5s ease;
}

.header-container .img.active {
    width: 80%;
    filter: opacity(.4) blur(5px);
    transition: 1s linear;
}

.header-container .ul-1 {
    display: flex;
    gap: 40px;
}

.header-container .ul-1 li {
    /* text-shadow: 0 0 2px rgb(0, 0, 0); */
    list-style: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 1px;
    font-size: 1.1rem;
    font-family: 'Afacad Flux', sans-serif;
}

.header-container .ul-1 li .arrow, .header-container ul li .arrow-L, .header-container ul li .arrow-S {
    border-radius: 10px;
    width: 0px;
    height: 2px;
    background-color: rgb(52, 0, 98);
    position: absolute;
    top: 40px;
    overflow: hidden;
    display: flex;
    justify-content: end;
    transition: all .2s linear;
}


.header-container .ul-1 li:hover .arrow{
    width: 68px;
}
.header-container .ul-1 li:hover .arrow-S{
    width: 62px;
}
.header-container .ul-1 li:hover .arrow-L{
    width: 105px;
}

.header-container Button {
   /* color: rgb(119, 0, 222); */
   color: rgb(52, 0, 98);
  padding: 5px 10px 3px 10px;
  background-color: #f399ff;
  font-family: "Sour Gummy", serif;
  border-radius: 12px;
  gap: 5px;
  letter-spacing: .5px;
}

.header-container Button:hover {
    background-color: #9753cf;
    color: rgb(224, 166, 222);
}


.menu-x {
    display: none;
    height: 100%;
    padding-top: 5px;
    z-index: 100;
}

.ham {
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 50px;
}

.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: rgb(29, 0, 57);
    stroke-width:4.5;
    stroke-linecap:round;
}

.ham6 .top {
    stroke-dasharray: 40 172;
}
.ham6 .middle {
    stroke-dasharray: 40 111;
}
.ham6 .bottom {
    stroke-dasharray: 40 172;
}
.ham6 .top.active {
    stroke-dashoffset: -132px;
}
.ham6 .middle.active  {
    stroke-dashoffset: -71px;
}
.ham6 .bottom.active {
    stroke-dashoffset: -132px;
}

.menuOpenAll {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
}

.menuOpenAll.active {
    display: flex;
}

.menuOpenAll ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(29, 0, 57);
    gap: 50px;
    z-index: 2;
}

.menuOpenAll ul li a {
    text-decoration: none;
    color: rgb(29, 0, 57);
    transition: .5s;
}

.menuOpenAll ul li a:hover {
    color: white;
}

.menuOpenAll ul li {
    font-size: 2rem;
    list-style: none;
    position: relative;
    text-transform: uppercase;
    transition: .5s;
}

.menuOpenAll ul li:nth-child(1) {
    animation: men 2.5s ease;
}

@keyframes men {
    0% {
        transform: translateY(-80px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.menuOpenAll ul li:nth-child(2) {
    animation: men 2s ease;
}

@keyframes men {
    0% {
        transform: translateY(-80px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.menuOpenAll ul li:nth-child(3) {
    animation: men 1.5s ease;
}

@keyframes men {
    0% {
        transform: translateY(-80px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.menuOpenAll ul li:nth-child(4) {
    animation: men 1s ease;
}

@keyframes men {
    0% {
        transform: translateY(-80px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.menuOpenAll ul li .arrow {
    width: 0%;
    height: 2.2rem;
    bottom: 10%;
    left: -6px;
    background-color: rgba(79, 0, 152, 0.253);
    transition: .2s;
    position: absolute;
    border-radius: 10px;
}

/* .menuOpenAll ul li:hover {
    color: white;
} */

.menuOpenAll ul li:hover .arrow, .menuOpenAll ul li:hover .arrow-XL  {
    width: 110%;
}

.menuOpenAll ul li .arrow-XL {
    width: 0%;
    height: 2.2rem;
    bottom: 10%;
    left: -11px;
    background-color: rgba(79, 0, 152, 0.253);
    transition: .2s;
    position: absolute;
    border-radius: 10px;
}


@media (max-width: 750px) {
    .header-container {
        
        padding: 5px 5px;
    }
    .header-container .header-content {
        align-items: start;
        width: 100%;
    }
    
    .header-container .header-content .link {
        /* height: 60px; */
        top: -5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-container .header-content .ul-1 {
        display: none;
    }
    .header-container Button {
        display: none;
    }
    .menu-x {
        display: block;
    }
}
